.main__cardlist {
    display: flex;
    flex-direction: column;
    padding: 100px 405px;
    background-color: #EFEFEF;
    @media (max-width: 1600px){
        padding: 100px 0;
        justify-content: center;
        align-items: center;
    }

    &__special {
        display: inherit;
        justify-content: space-between;
        @media (max-width: 1150px){
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        &__content {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #000000;
        }
    }

    &__cards {
        display: inherit;
        justify-content: space-between;
        margin: 17px 0;
        gap: 30px;
        @media (max-width: 1150px){
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        &__card {
            width: 255px;
            height: 363px;
            background-color: #FFFFFF;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            &__img {
                width: 125px;
                height: 166px;
            }

            &__content {
                width: 100%;
                line-height: 20px;
                color: #333333;
                text-align: center;

            }

            &__price {
                font-weight: 500;
                font-size: 21px;
                line-height: 25px;
                text-align: center;
                letter-spacing: 0.05em;
                color: #000000;
            }

            &__button {
                background-color: #66C05D;
                width: 135px;
                height: 35px;
                border-radius: 20px;

                &:hover {
                    opacity: 0.5;
                }

                &__a {
                    color: #FFFFFF;
                }
            }

        }
    }
}