.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    &__top {
        background-color: #E5E5E5;
        display: inherit;
        width: inherit;
        justify-content: center;
        gap: 30px;
        line-height: 16px;
        padding: 17px 0;
        @media (max-width: 600px){
            flex-wrap: wrap;
        }

        &__button {
            background-color: inherit;

            &:hover {
                background-color: aquamarine;
            }

            &__a {
                background-color: none;
                color: #333333;
            }
        }
    }

    &__logo {
        display: inherit;
        width: inherit;
        justify-content: space-between;
        align-items: center;
        padding: 20px 405px;
        background-color: white;
        border-bottom: 1px solid #EFEFEF;
        @media (min-width: 1001px) and (max-width: 1500px){
            padding: 20px 150px;
        }
        @media (max-width: 1000px){
            padding: 20px;
        }
        @media (max-width: 640px){
            flex-wrap: wrap;
            justify-content: center;
        }

        &__beauty {
            display: inherit;
            gap: 20px;
            align-items: center;

            &__name {
                font-weight: 700;
                font-size: 36px;
                line-height: 42px;
                letter-spacing: 0.1em;
                color: #66C05D;
                text-transform: uppercase;


            }
        }
        &__number{
            display: inherit;
            align-items: center;
            gap: 40px;
            &__button{
                background-color: inherit;
                border: 3px solid #66C05D;
                padding: 12px 27px;
                border-radius: 20px;
                &__a{
                    color: #000000;
                }
                &:hover{
                    background-color: #66C05D;
                    border-color: aquamarine;
                }

            }
        }
    }
    &__nav{
        display: inherit;
        padding: 30px 0;
        gap: 40px;
        @media (max-width: 600px){
            flex-wrap: wrap;
            padding: 10px;
            justify-content: center;;
        }
        &__button{
            background-color: inherit;
            &:hover{
                background-color: #66C05D;
                border-radius: 5px;
            }
            &__a{
                color: #000000;
            }
        }
    }
}